
body{
    border: solid black 1px;
    max-width: 960px;
    max-height: 640px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    background: dimgrey;
}
.BarraBusqueda{

    width: 820px;
    text-align: right;
}
* nav{
    border: solid black 1px;
    border-radius: 2em;
	width: 20%;
}